/* styles.css - Contains color schemes, typography, and other design fundamentals */

:root {
  --cl-accent: 120, 0, 210;
  --cl-background: 5, 5, 5;
  --cl-t-primary: 255, 255, 255;
  --cl-t-accent: 255, 255, 255;
}

body {
  font-family: 'Exo 2', sans-serif;
  background-color: rgb(5, 5, 5);
}

.text-t-primary {
  color: rgba(255, 255, 255, 0.9);
}

.text-t-accent {
  color: rgba(255, 255, 255, 0.6);
}

.bg-accent-500 {
  background-color: rgba(120, 0, 210, 1);
}

.text-accent-500 {
  color: rgba(120, 0, 210, 1);
}

/* For buttons */
button, a {
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

button:hover, a:hover {
  opacity: 0.7;
}
